version: "3"

services:
  postgres:
    image: postgres:16
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres_init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      POSTGRES_USER: kestra
      POSTGRES_DB: kestra
      POSTGRES_PASSWORD: kestra
    ports:
      - 5432:5432

  kestra:
    image: kestra/kestra:latest
    command: server local
    ports:
      - 8080:8080
    environment:
      KESTRA_CONFIGURATION: |
        datasources:
          postgres:
            url: jdbc:postgresql://postgres:5432/kestra
            driverClassName: org.postgresql.Driver
            username: kestra
            password: kestra
            
        kestra:
          server:
            basicAuth:
              enabled: true
              username: admin
              password: admin 
    depends_on:
      - postgres
    volumes:
      - kestra_data:/app/storage
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp/kestra-wd:/tmp/kestra-wd

volumes:
  postgres_data:
  kestra_data: